@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body

{
    font-family: Michroma,serif;
    background: linear-gradient(90deg, #0028d7 0%, #000000 100%)
;
}
.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: #b2acac;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: #d9d5d5;
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #0028d7 0%, #000000 100%)
}

.card {
    background: linear-gradient(270deg, #0028d7 0%, #000000 100%);
    color: aquamarine;
}
a {
    text-decoration: none;
	color: #00b9ff;
}

.discr, .footer-text {
    color: aquamarine;
    font-size: 24px;
    margin: auto auto;
}

.foot, .btn-outline-primary {
        background: linear-gradient(180deg, #0028d7 0%, #000000 100%);

}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-animated:hover {
animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}